<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administration</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant&family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Jacquarda+Bastarda+9&display=swap" rel="stylesheet">
</head>
<body class="login-page">
    <div class="admin-login-div">
        <h1 class="admin-title">Administration</h1>
        <form method="post" class="admin-login-form">
            <label for="username">Username</label>
            <input name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="Log In">
        </form>
    </div>
</body>
</html>