<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capricorn Pokes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant&family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Jacquarda+Bastarda+9&display=swap" rel="stylesheet">
    <script>
        // JavaScript function to show/hide fields based on the selection
        function handleOptionChange() {
            const flashOption = document.getElementById("flash");
            const customOption = document.getElementById("custom");
            const flashFields = document.getElementById("flash-fields");
            const customFields = document.getElementById("custom-fields");

            if (flashOption.checked) {
                flashFields.style.display = "block";
                customFields.style.display = "none";
            } else if (customOption.checked) {
                flashFields.style.display = "none";
                customFields.style.display = "block";
            } else {
                flashFields.style.display = "none";
                customFields.style.display = "none";
            }
        }

        // Run the function on page load to handle pre-checked options
        window.onload = handleOptionChange;
    </script>

</head>
<body>
    <header>
        <h1 class="title"><a href="{{ url_for('landing.landing') }}" style="text-decoration: none; color: #c9baab;">Capricorn Pokes</a></h1>
        <p class="tagline">Professional Tattoo Artist</p>
    </header>
    <section class="hero">
        {% block content %}{% endblock %}
    </section>
    <footer>
        <p>&copy; 2025 Capricorn Pokes. All rights reserved.</p>
        <div class="social-links">
            <a href="https://www.instagram.com/capricornpokes/" class="social-link">Instagram</a>
        </div>
    </footer>
</body>
</html>