{% extends 'base.html' %}
{% block content %}
<section class="request-form">
    <h2>Confirming Your Tattoo Appointment</h2>
    <form method="post" enctype="multipart/form-data">

        <!-- Calendly inline widget begin -->
        <div class="calendly-inline-widget"
             data-url="https://calendly.com/capricornpokes/{{request['type']}}/?name={{request['name'].replace(" ", "%20")}}&email={{request['email']}}&background_color=f5e6d3&primary_color=ffbc00&text_color=000000"
             style="min-width:320px;height:700px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async>

        </script>
        <!-- Calendly inline widget end -->
    </form>
</section>
{% endblock %}