{% extends 'base.html' %} {% block content %}
<main class="hero">
  <section class="faq_section">
    <h1 class="faq_title">FAQ Page</h1>
    <h2>How much is a tattoo?</h2>
    <p>
      My current minimum is $150, and project pricing is determined by size,
      placement, and subject. When responding to inquiries, an estimated price
      will be provided prior to booking.
    </p>

    <h2>Can I have my tattoo touched up?</h2>
    <p>
      Yes! Touch-ups are free for the first year after your appointment. After
      the first year there is a small fee to cover setup costs.
    </p>

    <h2>Where are you located?</h2>
    <p>
      I work in a private studio, Shop of Fools, in Greenpoint, NY, off the
      Greenpoint Ave stop on the G train. After booking an appointment, the
      exact address will be sent in the email confirmation!
    </p>

    <h2>What days do you tattoo?</h2>
    <p>
      I usually work on Monday, Wednesday, Friday, and Saturday. These days may
      change occasionally, depending on the season. If your availability is
      different, feel free to reach out, and we can try to make something work!
    </p>

    <h2>How do deposits work?</h2>
    <p>
      A $100 non-refundable deposit is required to book an appointment. This
      deposit is applied to the total cost of your appointment. You can pay the
      deposit when selecting an appointment time on my booking calendar.
    </p>

    <h2>How do Cancellations/Rescheduling work?</h2>
    <p>
      Deposits are valid for one reschedule with at least a 48-hour notice.
      Cancelling within 48-hours is considered a last-minute cancellation, and
      you will have to put down a new deposit to book again.
    </p>

    <h2>I don’t live in NYC, can I take your work to another artist?</h2>
    <p>
      I ask that you please do not take my work to another artist! While I
      understand it may be frustrating that we’re not located nearby, it will be
      worth the way to meet in person while I’m guesting somewhere near you or
      if you’re visiting NYC!
    </p>

    <h2>When did you start tattooing?</h2>
    <p>
      I began handpoking in January 2021 and transitioned to machine in August
      2022!
    </p>

    <h2>Have a question that wasn’t covered here? Email capricornpokes@gmail.com!</h2>
  </section>
</main>
{% endblock %}
