{% extends 'base.html' %}

{% block content %}
    <div class="portfolio-top">
        <img src="/static/profile_pic.png" alt="profile picture" width="300" height="300" class="bio-pic">
        <p class="bio">☆ Decorations for this lifetime ☆</p>
    </div>

    <div class="gallery-grid">
        <div class="gallery-item">
            <img class="por-pic" src="/static/portfolio/1.JPG" alt="Tattoo Flash" width="300" height="300">
        </div>
        <div class="gallery-item">
            <img class="por-pic" src="/static/portfolio/2.JPG" alt="Tattoo Flash" width="300" height="300">
        </div>
        <div class="gallery-item">
            <img class= "por-pic" src="/static/portfolio/3.JPG" alt="Tattoo Flash" width="300" height="300">
        </div>
        <div class="gallery-item">
            <img class= "por-pic" src="/static/portfolio/4.JPG" alt="Tattoo Flash" width="300" height="300">
        </div>
        <div class="gallery-item">
            <img class= "por-pic" src="/static/portfolio/5.JPG" alt="Tattoo Flash" width="300" height="300">
        </div>
        <div class="gallery-item">
            <img class= "por-pic" src="/static/portfolio/6.JPG" alt="Tattoo Flash" width="300" height="300">
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
    </div>

    <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    var images = document.getElementsByClassName("por-pic");

    for (let i = 0; i < images.length; i++) {
        images[i].onclick = function() {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
    }
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    modal.onclick = function(event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }
    </script>




{% endblock %}